services:
  kong:
    image: kong:3.6
    container_name: kong
    networks:
      - platform-net
    volumes:
      - ./kong/kong.yml:/usr/local/kong/declarative/kong.yml:ro
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:9001
    ports:
      - "9000:8000"
      - "9001:9001"

networks:
  platform-net:
    driver: bridge
