version: "3.9"

services:

  ################ SPLUNK ################
  splunk:
    image: splunk/splunk:9.2.1
    container_name: splunk
    environment:
      SPLUNK_START_ARGS: "--accept-license"
      SPLUNK_GENERAL_TERMS: "--accept-sgt-current-at-splunk-com"
      SPLUNK_PASSWORD: "Admin@123"
    ports:
      - "7000:8000"   # Splunk UI
      - "8088:8088"   # HEC
    volumes:
      - splunk_etc:/opt/splunk/etc
      - splunk_var:/opt/splunk/var
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7000"]
      interval: 15s
      timeout: 5s
      retries: 10
    networks:
      - platform-net

  ################ DYNAMODB LOCAL ################
  dynamodb-local:
    image: amazon/dynamodb-local
    container_name: dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb"
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - platform-net

  ################ ZOOKEEPER ################
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_4LW_COMMANDS_WHITELIST: srvr
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD", "bash", "-c", "echo srvr | nc localhost 2181 | grep Mode"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - platform-net

  ################ KAFKA ################
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "bash", "-c", "kafka-topics --bootstrap-server localhost:9092 --list"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - platform-net

  ################ AUTH SERVICE ################
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: local
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy
      DYNAMODB_ENDPOINT: http://dynamodb-local:8000
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPLUNK_HEC_URL: http://splunk:8088/services/collector
      SPLUNK_TOKEN: ${AUTH_SPLUNK_TOKEN}
    depends_on:
      dynamodb-local:
        condition: service_healthy
      kafka:
        condition: service_healthy
      splunk:
        condition: service_healthy
    networks:
      - platform-net

  ################ USER SERVICE ################
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: local
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy
      DYNAMODB_ENDPOINT: http://dynamodb-local:8000
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPLUNK_HEC_URL: http://splunk:8088/services/collector
      SPLUNK_TOKEN: ${USER_SPLUNK_TOKEN}
    depends_on:
      dynamodb-local:
        condition: service_healthy
      kafka:
        condition: service_healthy
      splunk:
        condition: service_healthy
    networks:
      - platform-net

  ################ VEHICLE SERVICE ################
  vehicle-service:
    build: ./vehicle-service
    container_name: vehicle-service
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: local
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy
      DYNAMODB_ENDPOINT: http://dynamodb-local:8000
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPLUNK_HEC_URL: http://splunk:8088/services/collector
      SPLUNK_TOKEN: ${VEHICLE_SPLUNK_TOKEN}
    depends_on:
      dynamodb-local:
        condition: service_healthy
      kafka:
        condition: service_healthy
      splunk:
        condition: service_healthy
    networks:
      - platform-net

  ################ KONG ################
  kong:
    image: kong:3.6
    container_name: kong
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
    volumes:
      - ./kong/kong.yml:/usr/local/kong/declarative/kong.yml
    ports:
      - "9000:8000"
      - "9001:9001"
    depends_on:
      auth-service:
        condition: service_started
      user-service:
        condition: service_started
      vehicle-service:
        condition: service_started
    networks:
      - platform-net

networks:
  platform-net:
    driver: bridge

volumes:
  splunk_etc:
   external: true
  splunk_var:
   external: true
